fastapi
uvicorn
python-dotenv
supabase
langgraph
langgraph-checkpoint-postgres
langchain
langchain-anthropic
langchain-groq
langchain-google-genai
langchain-core
livekit
livekit-agents[deepgram,cartesia,silero,groq]>=0.12.0
livekit-api
livekit-plugins-deepgram
livekit-plugins-cartesia
livekit-plugins-elevenlabs
livekit-plugins-silero
deepgram-sdk==3.10.0
cartesia
langfuse
psycopg[binary]
psycopg[pool]
psycopg2-binary
psycopg-pool
httpx
python-multipart
sse-starlette
anthropic
